* { /* border all the things to visualize flex containers and items */
    border: 2px solid blue
  }


.header {
    display: flex;
    background: #1f2937;
    color: white;
    position: fixed; /* Set the heade to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;

}

.headerText {
    display: flex;
    margin: 16px;
    margin-left: 60px;
}

a {
    color: white;
    text-decoration: none;

}

.headerLinks {
    display: flex;
    margin-left: auto;
    color: white;
    text-decoration: none;
    padding-right: 16px;
}


li {
    padding-right: 16px;
}


ul {
    list-style-type: none;
}

body {
    /* display: flex;
    margin: 0;
    flex-direction: column; */
    background: #1f2937;
}

.contentBox {
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    color: white;
    flex-direction: column;
}

.aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh; /* each section will take up 25% of the container box */
}

.informationSection {
    display: flex;
    background: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    height: 25vh;
}

.superInspirationalQuote {
    display:flex;
    font-style: italic;
    font-weight: lighter;
    color: black;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    width: 100%;
    height: 25vh;
}

.signupSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
}

.footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;


}