/* border all the things to visualize flex and troubleshooting */
/* * { 
    border: 2px solid blue
  } */

/* This is the preferred way to fix a header to the top. No other elements will overlap it. */
body {

}

.header {
    display: flex;
    background: #1f2937;
    color: white;
    position: fixed; /* Set the header to fixed position */
    top: 0;          /* the navbar at the top of the page */
    width: 100%;
    
}

.headerText {
    display: flex;
    margin: 16px;
    margin-left: 200px;
}

a {
    color: white;
    text-decoration: none;

}

.headerLinks {
    display: flex;
    margin-left: auto;
    color: white;
    text-decoration: none;
    padding-right: 16px;
    background: #1f2937;
    margin-right: 200px;
}


li {
    padding-right: 16px;
}


ul {
    list-style-type: none;
}

/* body {
    background: #1f2937;
} */


.Section {
    display: flex;
    width: 100%;
}

.contentBox {
    display: flex;
    flex: auto;
    align-items:center;
    justify-content:space-evenly;
    color: white;
    flex-direction: column;
    padding-top: 43px;

}

.about {
    flex-direction: column;
    align-items: center;
    justify-content: normal;

    background: #1f2937;
    min-height:300px;
}


.information {
    background: white;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 36px;
    font-weight:bold;
    min-height:300px;
}

.superInspirationalQuote {

    font-style: italic;
    font-size: 36px;
    color: black;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    min-height:300px;
}

.signup {

    align-items: center;
    justify-content: center;
    color: black;
    min-height:300px;
}

.footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    background: #1f2937;


}