
.header {
    display: flex;
    background: #1f2937;
    color: white;
    position: fixed; /* Set the heade to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;

}

.headerText {
    display: flex;
    margin: 16px;
    margin-left: 60px;
}

a {
    color: white;
    text-decoration: none;

}

.headerLinks {
    display: flex;
    margin-left: auto;
    color: white;
    text-decoration: none;
    padding-right: 16px;
}


li {
    padding-right: 16px;
}


ul {
    list-style-type: none;
}

body {
    display: flex;
    margin: 0;
    /* height: 100%; */
    flex-direction: column;
    /* min-height: 100vh; */
    background: #1f2937;
}

.contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    flex-direction: column;

}



.footer {
    display: flex;
    flex: 1;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    color: white;


}